body {
    background-image: url("img/signup-bg.jpg");
}

#frm {
    border: solid gray 1px;
    width: 25%;
    border-radius: 2px;
    margin: 120px auto;
    background: rgba(255, 255, 255, 0.822);
    padding: 50px;
}

#frm:hover {
    background: rgb(255, 255, 255);
}

#btn {
    color: #fff;
    background: #337ab7;
    padding: 7px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.form-input::-webkit-input-placeholder {
    color: #999;
}

.form-input::-moz-placeholder {
    color: #999;
}

.form-input:-ms-input-placeholder {
    color: #999;
}

.form-input:-moz-placeholder {
    color: #999;
}

.form-input::-webkit-input-placeholder {
    font-weight: 500;
}

.form-input::-moz-placeholder {
    font-weight: 500;
}

.form-input:-ms-input-placeholder {
    font-weight: 500;
}

.form-input:-moz-placeholder {
    font-weight: 500;
}

.form-input:focus {
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
    -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
    -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
    border-image-source: linear-gradient(to right, #9face6, #74ebd5);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.form-input:focus::-webkit-input-placeholder {
    color: #222;
}

.form-input:focus::-moz-placeholder {
    color: #222;
}

.form-input:focus:-ms-input-placeholder {
    color: #222;
}

.form-input:focus:-moz-placeholder {
    color: #222;
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.form-submit:hover {
    background-image: -moz-linear-gradient(to left, #4ce9cc, #798de7);
    background-image: -ms-linear-gradient(to left, #4ce9cc, #798de7);
    background-image: -o-linear-gradient(to left, #4ce9cc, #798de7);
    background-image: -webkit-linear-gradient(to left, #4ce9cc, #798de7);
    background-image: linear-gradient(to left, #4ce9cc, #798de7);
}

.signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.loginhere {
    font-family: sans-serif;
    margin-top: 30px;
}

.loginhere a {
    text-decoration: none;
    font-weight: 600;
    color: #2039c9;
}

.loginhere a:hover {
    text-decoration: underline;
    color: #0026ff;
}

.admin {
    right: 0;
    position: fixed;
    margin-right: 250px;
    font-family: sans-serif;
    font-weight: 600;
}

.admin a {
    color: #ffffff;
    text-decoration: none;
}

.admin a:hover {
    text-decoration: underline;
    color: #2948f8;
}